.neon {
  font-family: "Streamster";
  /* width: 50vw; */
  max-width: 100%;
  /* height: 18vw; */
  /* max-height: 60vh; */
  color: #fff;
  /* font-size: 10rem; */
  font-size: 10vmin;
  text-shadow: 0 0 8px #fff, 0 0 24px #fff, 0 0 32px #00cff8, 0 0 40px #00cff8;
  inset: 0;
  transform: rotate(-8deg);
}

span:nth-child(1) {
  animation: neon 1.7s infinite alternate;
}

span:nth-child(2) {
  animation: neon 1.7s infinite alternate-reverse;
}

@keyframes neon {
  0%,
  18%,
  22%,
  26%,
  58%,
  62%,
  100% {
    text-shadow: 0 0 8px #fff, 0 0 24px #fff, 0 0 32px #00cff8, 0 0 40px #00cff8;
  }
  20%,
  24%,
  60% {
    text-shadow: none;
  }
}

 /* .neon::before {
   content: "{";
   position: absolute;
   inset: 0.5vmin 0 0 10vmin;
   transform: rotate(3deg);
 }

 @media (max-width: 780px) {
   .neon {
     font-size: 20vw;
   }
 } */